* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.details {
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
  width: 100vw;
}

.desc {
  width: 50%;
  padding: 20px;
}

.desc h1 {
  margin-bottom: 15px;
}

.desc p {
    font-size: 20px;
    line-height: 40px;
}

.navbar {
  width: 100%;
  background-color: #ccc;
  padding: 40px;
}

.navbar button {
  padding: 10px;
  width: 100px;
  font-size: 20px;
  background: none;
  transition: 0.3s ease;
}
.navbar button:hover{
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  cursor: pointer;
  
}
.image img{
  transition: 0.3s ease;
  border-radius: 10px;
}
.image img:hover{
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}